/* Нормализация блочной модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Убираем внутренние отступы слева тегам списков у
 которых есть атрибут class */
:where(ul, ol):where([class]){
  padding-left: 0;
}
/* Упрощаем работу с изображениями которые по умолчанию
являютбся строчными елементами*/
img {
  display: block;
  max-width: 100%;
}
/* Наследуем свойства шрифт для полей ввода */
input,
textarea,
select,
button {
  font: inherit;
}
/* Убираем внешние отступы тегу Body и другим
у которых есть атрибут Class */
body,
:where(blockquote, figure):where([class]){
  margin: 0;
}

body {
  /* Пригодиться когда нужно прижать Footer к нижней части экрана */
  min-height: 100%;
  /* Унифицированный межстрочный интервал*/
  line-height: 1.5;
}
/* Удаляем анимации и переходы для людей которые
 предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  /* Когда нужно прижать Footer к нижней части экрана */
  height: 100%;
  /* Плавный скролл */
  scroll-behavior: smooth;
}
/* Подключение шрифта */
@font-face {
  font-family: "Roboto";
  src: url(path to file) format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}